{% load static %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>{% block title %}Blog{% endblock %}</title>
    <!-- <meta http-equiv="refresh" content="2">  -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/default.css" %}" >

</head>

<body background="{% static "assets/images/blog-site.jpg" %}" >

    <!-- <div id="sidebar"> {% block sidebar %} {% endblock %} </div> -->
    <div id="container">
        <div id="menu">
            {% block nav-global %}

            <!-- should place an if here to only allow admins to see -->

                <!-- MENU -->
                <h3>MyBlog</h3>
                <a href="/home">Home</a>
                <a href="/admin/">Admin</a>
                <a href="/admin/blog/post/add/">Add post</a>

            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- still working on how to display these ads using affiliate programs -->
    <div id="advert">
        This is where the ad will go.
    </div>
    <div id="bottomadvert">
        Here is another spot for an ad
    </div>

</body>
</html>

