{% load static %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>{% block title %}Blog{% endblock %}</title>
    <!-- <meta http-equiv="refresh" content="2">  -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/default.css" %}" >

</head>

<body background="{% static "assets/images/blog-site.jpg" %}" >
<!-- <body> -->
    <!-- <div id="sidebar"> {% block sidebar %} {% endblock %} </div> -->
    <div id="header"></div>
        <div id="container">
            {% block nav-global %}

            <!-- should place an if here to only allow admins to see -->
            <div id="menu">
                <!-- MENU -->
                <h3>MyBlog</h3>
                <a href="/home">Home</a>
                {% if user.is_staff %}
                    <a href="/admin/">Admin</a>
                    <a href="/admin/blog/post/add/">Add post</a>
                {% endif %}
            </div>
            <div id="center" class="column">
                {% block content %}{% endblock %}
            </div>
            <div id="left" class="column">
                {% block left %} {% endblock %}
            </div>
            <div id="right" class="column">
                Here is some content to read in this right section
            </div>
        </div>
        <div id="footer">
            <ul>
                <li>About</li>
                <li>Contact</li>
                <li>Facebook</li>
            </ul>
        </div>
        {% endblock %}

</body>
</html>

