{% extends 'base.html' %}

{% block content %}

    <h1 class="title">{{ post.title }} posted by {{ post.author }}</h1>
    <hr/>
    <ul>
        <h2 class="time">{{ post.created }}</h2>
        <div class="body">{{ post.body }}</div>
    </ul>
    <hr/>

    {% if post.comment_set.all %}
	    <h2>Comments</h2>
	    <div class="comments">
	    	{% for comment in post.comment_set.all %}
	    		<div class="title">{{ comment.author }} {{ comment.create }}</div>
	    		<div class="body">{{ comment.body }}</div>
	    	{% endfor %}
	{% endif %}
	<form action="" method="POST">
	<h2>Add Comments</h2>
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" name="submit" value="Submit" />
	</form>

{% endblock %}