{% extends 'base.html' %}

{% block title%}View Posts - {% endblock %}
{% block content %}
<hr/>
<hr/>
	<div class="main">
		{% for post in posts %}
			<h2 class = "title">{{ post.title }} posted by {{ post.author }}</h2>
			<hr/>
			<ul>
				<div class="time">{{ post.created }}</div>
	                <div class="body">{{ post.body|linebreaks }}</div>
	                <div class="commentlink">
	                <a href="{% url 'blog.views.post' post.id %}">Comments</a>
	            </div>
	        </ul>

		{% endfor %}
	</div>
{% endblock %}