{% extends 'base.html' %}

{% block title%}View Posts - {% endblock %}
{% block left %}
    Monthly Archive
    <p>
    {% for month in months %}
        {% ifchanged month.0 %} {{ month.0 }} <br/> {% endifchanged %}
        <a href="{% url 'blog.views.month' month.0 month.1 %}">{{ month.2 }}</a>
        <br/>
    {% endfor %}
    </p>
{% endblock %}

{% block content %}

	<div class="main">
		{% for post in posts %}
			<h2 class = "title">{{ post.title }} posted by {{ post.author }}</h2>
			<ul>
				<div class="time">{{ post.created }}</div>
	                <div class="body">{{ post.body|linebreaks }}</div>
	                <div class="commentlink">
	                <a href="{% url 'blog.views.post' post.id %}">Comments</a>
	            </div>
	        </ul>
		{% endfor %}
	</div>
	<!-- Next/Prev page links  -->
    {% if not archive and posts.paginator.num_pages > 1 %}
    <div class="pagination" >
        <span class="step-links">
            {% if posts.has_previous %}
                <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
            {% endif %}

            <span class="current">
                &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}